<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://static.vecteezy.com/system/resources/previews/029/783/698/large_2x/movie-night-at-home-cozy-intimate-casual-comfortable-romantic-free-photo.jpg);">
  <div class="container">
    <h1>YourMovieList</h1>
    <p>Save movies and don't lose track of what you're watching.</p>
    <a class="btn btn-outline-warning" href="#new-list-form">Create a new list</a>
  </div>
</div>
<div class="container">
  <h1 class="my-4">All your lists:</h1>
  <div class="cards">

      <% @lists.each do |list| %>
      <div class="wrapper">
      <%= link_to list_path(list) do %>
        <div class="card front-face card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key, crop: :fill) : image_path('https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg') %>)">
          <%= link_to list.name, list_path(list), class: "text-decoration-none text-light" %>
        </div>
        <div class="card back-face card-category">
          <%= link_to list.name, list_path(list), class: "text-decoration-none text-light" %>
            <ul>
              <% list.bookmarks.each do |bookmark| %>
                <li><%= bookmark.movie.title %></li>
              <% end %>
            </ul>
        </div>
        <% end %>
      </div>
      <% end %>
    <div class="card card-category wrapper p-4 new-list-card">
    <p class="anchor" id="new-list-form"></p>
    <p>New List</p>
      <%= simple_form_for @list do |f| %>
        <%= f.input :name %>
        <%= f.input :photo, as: :file %>
        <%= f.submit class: "btn btn-warning w-100 my-3" %>
      <% end %>
    </div>
  </div>
</div>


  <%# <div class="cards">
    <% @lists.each do |list| %>
      <%# <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)"> %>
        <%# <%= link_to list.name, list_path(list) %>
      <%# </div> %>
    <%# <% end %>
  <%# </div> %>
