<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @list.photo.attached? ? cl_image_path(@list.photo.key, crop: :fill) : image_path('https://static.vecteezy.com/system/resources/previews/029/783/698/large_2x/movie-night-at-home-cozy-intimate-casual-comfortable-romantic-free-photo.jpg') %>)">
  <div class="container text-light">
    <h1><%= @list.name %>
      <h1>
        <p><%= @list.bookmarks.count %> movies</p>
      </div>
    </div>
    <div class="container my-5">
      <div class="film-grid">
        <% @list.bookmarks.each do |bookmark| %>
          <div class="card-film">
            <img src="<%= bookmark.movie.poster_url %>" alt="Movie Poster">
            <div class="card-film-infos">
              <h2><%= bookmark.movie.title %>・<%= bookmark.movie.rating %></h2>
              <p class="movie-overview"><%= bookmark.movie.overview %></p>
              <div>
                <p class="movie-comment"><%= bookmark.comment %></p>
                <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                  <button class="delete-btn btn btn-warning text-light">Delete</button>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        <div class="card-film new-bookmark">
          <div class="card-film-infos">
            <%= simple_form_for [@list, @bookmark] do |f| %>
              <h2 class="mb-3">Add a movie to your list:</h2>
              <%= f.input :comment %>
              <%= f.association :movie, collection: Movie.order(:title), prompt: "Choose a Movie" %>
              <%= f.submit "Add this movie", class: "add-movie-btn btn btn-warning text-light w-100" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
